*{
    font-family: Inter;
}

.footer {
    text-align: center;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    font-family: 'Inter', sans-serif;
    margin-top: 4%;
}

.footer p{
    color: #999696;
}  
